.hero {
	background: rgb(206,10,49);
	color: rgb(255,255,255);
	text-align: center;

	.wrapper {
		margin: 0 auto;
		padding: 5em 2em;
	}

	h1 {
		color: rgb(255,255,255);
		font-size: 7em;
		letter-spacing: -2px;

		&:before {
			font-family: 'FontAwesome';
			content: "\f109";
			margin-right: 0.25em;
			color: rgb(241,196,15);
		}
	}

	.hero-text {
		font-size: 1.593em;
	}
}