figure {
	margin: 0;
	padding: 0;
	background: rgb(245,245,245);

	img {
		width: 100%;
	}

	figcaption {
		padding: 1.14285714286em;
		font-size: 0.875em;
	}

	&.hero-image {
		margin-bottom: 1em;
	}

	&.pull-left, &.pull-right {
		float: left;
		width: 25%;
		margin: 0 1em 1em 0;

		@include breakpoint(tablet) {
			width: 50%;
		}

		@include breakpoint(phone) {
			width: 100%;
			float: none;
			margin: 0 0 1em;
		}
	}

	&.pull-right {
		float: right;
		margin: 0 0 1em 1em;
	}
}