.video {
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
	height: 0;

	iframe, video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: teal;
	}

	&.video-pull-left, &.video-pull-right {
		width: 33%;
		padding-bottom: 18.6%;
		float: left;
		margin: 0 1em 1em 0;

		@include breakpoint(tablet) {
			width: 50%;
			padding-bottom: 28.125%;
		}

		@include breakpoint(phone) {
			width: 100%;
			padding-bottom: 56.25%;
			float: none;
			margin: 0 0 1em;
		}
	}

	&.video-pull-right {
		float: right;
		margin: 0 0 1em 1em;
	}
}