/* 
	These are the base styles for Stylish. 
	They shouldn't really need to be edited.
	They shouldn't be used in the main HTML.
*/

@import "compass";

body {
  margin: 0;
  padding: 0;
}

.stylish-header {
  @include box-sizing(border-box);
	padding: 0.875em 1em;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	font-size: 16px;
	background: rgb(240,240,240);
	border-bottom: 1px solid rgb(229,229,229);

  nav {
    a {
      font-size: 0.875em;
      color: rgb(54,54,54);
      text-decoration: none;
      margin-right: 1.5em;

      &:hover {
        color: rgb(63,148,208);
      }
    }
  }
}

.stylish-hidden {
	display: none;
}

.stylish-example {
  margin-bottom: 3em;
  
  .stylish-example-display {
    border: 1px solid #e1e1e8;
    margin: 0;
    padding: 2.5em 1em 1em;
    position: relative;

    &:before {
      color: rgb(154,154,154);
      content: 'Example';
      border-right: 1px solid #e1e1e8;
      border-bottom: 1px solid #e1e1e8;
      border-radius: 0 0 0.5em 0;
      position: absolute;
      top: 0;
      left: 0;
      font-size: 0.875em;
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
      font-weight: 300;
      padding: 0.25em 0.75em;
      background-color: rgb(245,245,245);
    }
  }
}

/* 
  Prettify styles
*/

.com { color: #93a1a1; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #dc322f; }
.str, .atv { color: #D14; }
.kwd, .prettyprint .tag { color: #1e347b; }
.typ, .atn, .dec, .var { color: teal; }
.pln { color: #48484c; }

.prettyprint {
  margin: 0;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-top: none;
  overflow: auto;
}

ol.linenums {
  margin: 0;

  li {
    padding-left: 1em;
    color: #bebec5;
    line-height: 20px;
    text-shadow: 0 1px 0 #fff;
    background: rgb(255,255,255);
  }
}