<nav class="stylish-toggle stylish-hidden">
	<a href="#" class="icon-reorder"></a>
</nav>

<header class="stylish-header">
	<nav>
		<a href="/">Home</a>
		<a href="/grid">Grid</a>
		<a href="/css">CSS</a>
	</nav>
</header>