---
layout: guide
title: Base CSS
---

<h1>Headings</h1>

<p>Here are the available heading styles for `h1` to `h6`.</p>

<div class="stylish-example">
	<div class="stylish-example-display">
		<h1>h1. A Heading</h1>
		<h2>h2. A Heading</h2>
		<h3>h3. A Heading</h3>
		<h4>h4. A Heading</h4>
		<h5>h5. A Heading</h5>
		<h6>h6. A Heading</h6>
	</div>
</div>

<h1>Headings With Color</h1>

<p>Occasionally a heading may need a color. Here's how you can do that.</p>

<table class="stylish-example">
	<thead>
		<tr>
			<th>Heading</th>
			<th>Class</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><h1 class="blue">Blue Heading</h1></td>
			<td>blue</td>
		</tr>
		<tr>
			<td><h1 class="orange">Orange Heading</h1></td>
			<td>orange</td>
		</tr>
	</tbody>
</table>

<h1>Body copy</h1>

<p>The default (1em) <code>font-size</code> for this app is 16px with a `line-height` of 1.4. This is applied directly to <code>&lt;body&gt;</code>. <code>&lt;p&gt;</code> has a bottom margin of 1em.</p>

<div class="stylish-example">
	<div class="stylish-example-display">
		<p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>

		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>

		<p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
	</div>
</div>

<h1>Buttons</h1>

<p>Here are the available buttons for this application.</p>

<table class="stylish-example">
	<thead>
		<tr>
			<th>Button</th>
			<th>Class</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><button class="btn">Action</button></td>
			<td>btn</td>
			<td>Generic buttons that are not the primary action</td>
		</tr>
		<tr>
			<td><button class="btn btn-primary">Primary Action</button></td>
			<td>btn btn-primary</td>
			<td>Primary action buttons</td>
		</tr>
	</tbody>
</table>

<h2>Button sizing</h2>

<p>Occasionally, you might need a bigger button. We've got you covered.</p>

<table class="stylish-example">
	<thead>
		<tr>
			<th>Button</th>
			<th>Class</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><button class="btn btn-large">Big Action</button></td>
			<td>btn btn-large</td>
			<td>Big normal button</td>
		</tr>
		<tr>
			<td><button class="btn btn-large btn-primary">Big Primary Action</button></td>
			<td>btn btn-large btn-primary</td>
			<td>Big primary button</td>
		</tr>
	</tbody>
</table>